.hero {
	margin-right: -100px;
	align-items: center;
	justify-content: center;

	// @include desktop-above {
	// 	margin-right: auto;
	// }

	@media (max-width: 1600px) {
		margin-right: auto;
	}

	&__left {
		grid-column: span 4;
	}

	&__button {
		width: 100%;
	}

	&__right {
		grid-column: span 8;
	}

	&__cta {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 40px;
		margin-bottom: 80px;
		color: var(--color-light);

		@include tablet {
			gap: 32px;
			margin-bottom: 56px;
		}
	}

	&__partners {
		width: 340px;

		@include desktop {
			margin-bottom: 200px;
		}

		&-logos {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			gap: 18px;
			color: var(--color-light);
		}
	}

	&__image {
		display: block;
		margin-right: -100px;
		width: 100%;
	}
}
