.slider {
	position: relative;
	&__image {
		width: 100%;
	}

	&__button {
		position: absolute;
		left: 24px;
		bottom: 50%;

		&--right {
			left: auto;
			right: 24px;
			transform: rotate(180deg);
		}
	}

	&__dots {
		display: flex;
		gap: 8px;
		position: absolute;
		bottom: 48px;
		left: 50%;
		transform: translateX(-50%);
	}
}
